@use "~@qtxr/scss-utils" as *;

$general-params: (
	"color",
	"horizontal-gap",
	"vertical-gap"
);

@mixin general(
	$focus-border-color: #1e2021,
	$horizontal-gap: 15px,
	$vertical-gap: 12px
) {
	.input-row {
		display: flex;
		align-items: flex-end;

		+ .input-row {
			margin-top: $vertical-gap;
		}

		.input-box-textarea {
			align-self: flex-start;
		}

		.input-box {
			flex-grow: 1;

			+ .input-box {
				margin-left: $horizontal-gap;
			}

			p {
				margin: 0;
				font-size: 80%;
				text-transform: uppercase;
				margin-bottom: 4px;
			}

			&.inline-title {
				display: flex;
				align-items: center;
				white-space: nowrap;

				> .title {
					margin: 0 10px 0 0;

					&:after {
						content: ":";
						margin-left: 0.1em;
					}
				}
			}
		}

		.input-wrapper {
			position: relative;
			font-size: 95%;

			.mobi-focus,
			.focus-probe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				max-width: 100%;
				max-height: 100%;
				border: none;
				outline: none;
				opacity: 0;
				resize: none;
				cursor: pointer;
			}
		
			.mobi-focus {
				display: none;
			}

			.validation-msg {
				display: none;
				position: absolute;
				bottom: 100%;
				left: 0;
				width: 100%;
				padding: 6px 8px 5px;
				font-size: 95%;
				z-index: 1;

				&:before {
					content: "";
					top: 100%;
					left: 0;
					width: 100%;
					height: 50px;
					position: absolute;
					border-radius: inherit;
					box-shadow: 0px -20px $focus-border-color;
					pointer-events: none;
					z-index: -1;
				}
			}

			&.mobi {
				.mobi-focus {
					display: block;
				}
		
				.focus-probe {
					display: none;
				}

				&.open {
					.collapse-target {
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: inherit;
						opacity: 0.8;
						z-index: 10000000;
					}

					* {
						-webkit-tap-highlight-color: transparent;
					}
				}
			}

			&.disabled {
				opacity: 0.5;
				cursor: default;

				* {
					cursor: default;
				}
			}
		}
	}
}
