$main-back: #d7dee4;
$main-back-lighter: #f2f5f7;
$main-back-much-lighter: #f9fbfd;
$card-back: white;

$main-col: #30353a;
$main-col-lighter: #54595f;
$secondary-col: #12529e;

$info-back: #d8e9f5;
$warning-back: #fff9d6;
$error-back: #fdeeed;

$info-col: #19496b;
$warning-col: #9a651a;
$error-col: #770f25;

$info-col-lighter: #1c7ec1;
$warning-col-lighter: #ffbc07;
$error-col-lighter: #dc2424;

$gap: 15px;