$theme: (
	// This also serves as the base style for
	// other inputs, which can be overwritten,
	// in each input map
	input: (
		height: 30px,
		border-radius: 1px,

		color: #1e2021,
		focus-color: #1e2021,
		error-color: #ab0f2f,
		autofill-color: #276a9e,

		background: white,
		focus-background: #eee,
		error-background: #ffe7ec,
		autofill-background: #edf7ff,

		border-width: 1px,
		border-style: solid,
		border-color: #dadada,
		border: 1px solid #dadada,

		focus-border-width: 1px,
		focus-border-style: solid,
		focus-border-color: #1e2021,
		focus-border: 1px solid #1e2021,

		error-border-width: 1px,
		error-border-style: solid,
		error-border-color: #e8879b,
		error-border: 1px solid #e8879b,

		autofill-border-width: 1px,
		autofill-border-style: solid,
		autofill-border-color: #74b4e6,
		autofill-border: 1px solid #74b4e6
	),
	checkbox: (),
	count: (),
	dropdown: (
		padding: 10px,
		mobile-padding: 30px,
		separator-border: 1px solid rgba(128, 128, 128, 0.25)
	),
	media: (
		slider-width: 6px,
		icon-width: 4px,
		icon-shadow: 0 2px 3px rgba(0, 0, 0, 0.2),
		shade-color: black,
		feature-color: white,
		error-border-color: #e8879b,
		output-preview-spacing: 10px,
		highlight: #1b66bf,
		raster-light: #222,
		raster-dark: #333,
		output-preview-height: 80px,
		output-preview-border-radius: 2px,
		obscure-duration: 300ms,
		obscure-delay: 0ms,
		reveal-duration: 300ms,
		reveal-delay: 500ms
	),
	multi: (
		background: white,
		error-background: #ffe7ec,
		border: 1px solid #dadada,
		focus-border: 1px solid #1e2021,
		error-border: 1px solid #e8879b,
		focus-border-color: #1e2021,
		error-color: #ab0f2f,
		highlight: #1b66bf,
		selection-item-color: white,
		selection-item-height: 24px,
		selection-item-spacing: 5px,
		selection-item-border-radius: 2px,
		search-box-background: whitesmoke,
		separator-border: 1px solid rgba(128, 128, 128, 0.15),
		max-height: 150px,
		search-input-height: 30px,
		add-icon-background: #e6eaef,
		add-icon-color: #8291a5
	),
	radio: (),
	textarea: (
		background: white,
		error-background: #ffe7ec,
		border: 1px solid #dadada,
		focus-border: 1px solid #1e2021,
		error-border: 1px solid #e8879b,
		focus-border-color: #1e2021,
		error-color: #ab0f2f
	),
	time: (
		background: white,
		error-background: #ffe7ec,
		dial-background: whitesmoke,
		dial-background-dark: #dadee2,
		border: 1px solid #dadada,
		error-border: 1px solid #e8879b,
		error-color: #ab0f2f,
		blob-radius: 15px,
		delimitation-padding: 20px,
		tight-delimitation-padding: 15px,
		highlight: #1b66bf,
		highlight-complement: white,
		transition-duration: 300ms
	)
);
