// Default listing styling
@use "../theme.scss" as *;

@mixin listing {
	.list-row {
		padding: 6px 8px;
	}

	.unbounded-listing {
		.listing-content {
			max-height: initial;
		}
	}

	.listing-content {
		max-height: 400px;
	}

	.limited-width-listing {
		td:not(.arbitrary-width) {
			& {
				max-width: 150px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&:not(.shallow-limit) *:not(.ellipsis-menu) {
				max-width: inherit;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&.wide {
				max-width: 250px;
			}

			&.x-wide {
				max-width: 300px;
			}

			&.xx-wide {
				max-width: 350px;
			}
		}

		&.wide {
			td:not(.arbitrary-width) {
				max-width: 250px;
			}
		}

		&.x-wide {
			td:not(.arbitrary-width) {
				max-width: 300px;
			}
		}

		&.xx-wide {
			td:not(.arbitrary-width) {
				max-width: 350px;
			}
		}
	}

	.spaced-row,
	.table-spaced-row  {
		position: relative;
		padding: 10px;
		border-radius: 3px;

		&:not([style*="display: none"]) ~ .spaced-row:not([style*="display: none"]) {
			margin-top: 21px;

			&:before {
				content: "";
				position: absolute;
				top: -11px;
				left: 5px;
				right: 5px;
				border-top: 1px solid rgba(128, 128, 128, 0.3);
			}

			&.tight {
				margin-top: 11px;

				&:before {
					top: -6px;
				}
			}

			&.x-tight {
				margin-top: 5px;

				&:before {
					top: -3px;
				}
			}
		}

		&.expandable {
			> * {
				padding-left: 40px;
			}

			.top-row {
				position: relative;

				.row-expando {
					position: absolute;
					top: 0;
					left: 0;
					width: 30px;
					height: 100%;
					cursor: pointer;
					transition: transform 200ms;

					&:before {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						margin: -4px -6px;
						border: 1px solid;
						border-left-color: transparent;
						border-top-color: transparent;
						width: 8px;
						height: 8px;
						border-radius: 0 1px 2px 1px;
						transform: rotate(-45deg);
					}
				}
			}

			.expandable-row {
				max-height: 0;
				overflow: hidden;
				transition: max-height 300ms;
			}

			&.expanded {
				.row-expando {
					transform: rotate(90deg);
				}

				.expandable-row {
					max-height: 1000px;
				}
			}
		}
	}

	.table-spaced-row {
		display: table-row;
	}

	.expando-listing {
		tr {
			border: 1px solid transparent;
		}
	}

	.table-expando-row {
		display: table-row-group;
		
		.expando-row {
			display: table-row;

			.expando {
				text-align: center;
				width: 40px;
				border: 1px solid transparent;
				border-bottom: none;
				cursor: pointer;

				&:before {
					content: "";
					display: inline-block;
					top: 50%;
					margin: 0 -3px;
					border: 1px solid;
					border-left-color: transparent;
					border-top-color: transparent;
					width: 8px;
					height: 8px;
					border-radius: 0 2px 2px 2px;
					transform-origin: 60% 50%;
					transform: translateX(-4px) rotate(-45deg);
					transition: transform 200ms;
				}
			}
		}

		&:not(.expanded) {
			.expando-row.bottom {
				display: none;
			}
		}

		&:not(.no-expando-style).expanded {
			.expando-row {
				.expando {
					background: $accent-light-background;
					border-color: $subdued;
				}

				&.top {
					td:not(.expando) {
						border-bottom: 1px solid $subdued;
					}
				}

				&.bottom {
					background: $accent-light-background;
					border-bottom: 1px solid $subdued;

					.util-box {
						table tr:first-child th {
							background: $accent-light-background;
						}
					}

					td {
						border-bottom: 1px solid $subdued;

						&:first-child {
							border-left: 1px solid $subdued;
						}

						&:last-child {
							border-right: 1px solid $subdued;
						}
					}
				}
			}
		}

		&.expanded {
			.expando-row {
				.expando {
					&:before {
						transform: translate(-1px, -1px) rotate(45deg);
					}
				}
			}
		}
	}

	.table-compact-expando-row {
		padding: 5px 0;

		.compact-expando-row {
			position: relative;

			&.top {
				display: flex;
				flex-direction: column;
				justify-content: center;
				min-height: 30px;
				padding: 3px 0 3px 40px;
			}

			.expando {
				position: absolute;
				top: 0;
				left: 0;
				width: 35px;
				height: 100%;
				cursor: pointer;

				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -4px -3px;
					border: 1px solid;
					border-left-color: transparent;
					border-top-color: transparent;
					width: 8px;
					height: 8px;
					border-radius: 0 2px 2px 2px;
					transform-origin: 60% 50%;
					transform: translateX(-4px) rotate(-45deg);
					transition: transform 200ms;
				}
			}
		}

		&:not(.expanded) {
			.compact-expando-row.bottom {
				display: none;
			}
		}

		&:not(.no-expando-style).expanded {
			.compact-expando-row {
				.expando {
					background: $accent-background;
				}

				&.bottom {
					background: $accent-background;
				}
			}
		}

		&.expanded {
			.compact-expando-row {
				.expando {
					&:before {
						transform: translate(-1px, -1px) rotate(45deg);
					}
				}

				&.bottom {
					padding: 10px;
				}
			}
		}
	}

	.util-box .util-box-content .util-box {
		margin: 0;
		padding: 0;
		box-shadow: none;
		background: transparent;

		+ .util-box {
			padding-top: 20px;
			margin-top: 20px;
			border-top: 1px solid $subdued;
		}

		table tr:first-child th {
			z-index: 99999;
		}
	}

	.title-box {
		font-weight: normal;

		span,
		a {
			opacity: 0.6;

			&.highlight {
				opacity: 1;
				font-weight: bold;
			}
		}
	}

	.ellipsis:not(:last-child) {
		margin-right: 10px;
	}
}
