// Various non-Vue UI components (buttons, etc.)
@use "../theme.scss" as *;
@use "~@qtxr/scss-utils" as *;

@mixin ui {
	.admin-btn {
		position: relative;
		height: $input-master-height;
		padding: 8px 15px;
		background-color: $highlight;
		color: $highlight-complement;
		border: none;
		outline: none;
		border-radius: 2px;
		box-shadow: inset 0 -2px rgba(0, 0, 0, 0.07);
		text-shadow: 0 2px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
		font-family: inherit;
		font-weight: bold;
		font-size: 90%;
		cursor: pointer;
		z-index: 1;

		&:disabled {
			background-color: $subdued;
			color: $subdued-complement;
			box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.03);
			pointer-events: none;
			text-shadow: none;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: inherit;
			padding: 4px;
			margin: -4px;
			box-sizing: content-box;
			border-radius: 2px;
			opacity: 0;
			transform: scaleX(0.5);
			transition: opacity 300ms, transform 300ms;
			will-change: opacity, transform;
			z-index: -1;
		}

		&:after {
			transform: scale(0.8);
			transition: opacity 300ms, transform 300ms;
		}

		&:focus:before {
			opacity: 0.5;
			transform: scaleX(1);
			transition: opacity 200ms, transform 200ms;
			background-image: none;
		}

		&.expand-disabled:disabled:before {
			opacity: 0.35;
			transform: scaleX(1);
			background-image: none;
		}

		&:active:after {
			opacity: 1;
			transform: scale(1);
			transition: opacity 150ms, transform 150ms;
		}

		&.square {
			width: $input-master-height;
			height: $input-master-height;
			padding: 8px 10px;
			font-size: 85%;
		}

		&.square-height {
			height: $input-master-height;
			padding: 8px 12px;
			font-size: 85%;
		}

		&.fade-color {
			transition: background-color 250ms;
			will-change: background-color;
		}

		&.wide {
			width: 200px;
			max-width: 100%;
		}

		&:not(:disabled).subdued {
			background: $subdued;
			color: $subdued-dark-complement;
			text-shadow: none;
		}

		&.reload {
			@include inline-svg(
				$path: "M80 55 a30 30 0 1 1 -30 -30 m-25 -15 l25 15 l-9 25",
				$stroke: $highlight-complement,
				$stroke-width: 12
			);
			background-size: 50% 50%;
			background-repeat: no-repeat;
			background-position: center;
			font-size: 0;

			&:disabled {
				@include inline-svg(
					$path: "M80 55 a30 30 0 1 1 -30 -30 m-25 -15 l25 15 l-9 25",
					$stroke: $subdued-dark-complement,
					$stroke-width: 12
				);
			}
		}
	}

	.card {
		position: relative;
		padding: 15px;
		font-size: 130%;
		background: $card-background;
		border-radius: 2px;
		box-shadow: $card-shadow;
	}

	.faux-link {
		font-weight: bold;
		cursor: pointer;
	}

	.error-label {
		background: $error-label-background;
		border: $error-label-border;
		padding: 8px 10px;
		border-radius: 2px;
		margin-bottom: 15px;
		color: $error-label-color;
		font-size: 80%;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: $error-label-text-shadow;
		text-align: center;
		max-width: 250px;
	}

	.bottle-opener-box {
		position: relative;
		margin: 10px;
		height: 150px;
		background-size: cover;
		background-position: center;
		border-radius: 2px;
		border: 5px solid $card-background;
		box-shadow: $card-shadow;

		&.display-box {
			height: 240px;
			overflow: hidden;
		}

		.collapse-hit-target {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;

			&:hover {
				~ .blur-img-wrapper .blur-img.blurred {
					opacity: 0;
					transition-delay: 500ms;
				}

				~ .bottle-opener-tab {
					transform: translate(-50%, 100%);
					transition-delay: 500ms;

					.bottle-opener-extremity {
						transform: translateY(100%);
						transition-delay: 500ms;
					}
				}
			}
		}

		.blur-img-wrapper {
			width: 100%;
			height: 100%;
			overflow: hidden;

			.blur-img {
				position: relative;
				top: -5px;
				left: -5px;
				height: 100%;
				width: 100%;
				box-sizing: content-box;
				padding: 5px;
				background-size: cover;
				background-position: center;

				&.normal {
					position: absolute;
				}

				&.blurred {
					filter: blur(6px);
					transition: opacity 400ms;
				}
			}
		}

		.bottle-opener-tab {
			position: absolute;
			left: 50%;
			bottom: 0;
			max-width: 80%;
			padding: 8px 15px 10px;
			text-align: center;
			border-radius: 2px;
			transform: translateX(-50%);
			background: $card-background;
			transition: transform 400ms cubic-bezier(0.6, 0, 0.4, 1);
			z-index: 20;

			&:before,
			&:after {
				content: "";
				position: absolute;
				bottom: -4px;
				width: 4px;
				height: 4px;
				margin: 0 -8px;
				border-radius: 0 0 50%;
				border: 4px solid $card-background;
				box-sizing: content-box;
				border-top-color: transparent;
			}

			&:before {
				left: 0;
				border-left-color: transparent;
				border-radius: 0 0 50%;
			}

			&:after {
				right: 0;
				border-right-color: transparent;
				border-radius: 0 0 0 50%;
			}

			h1 {
				font-weight: bold;
				font-size: 110%;
				margin: 0;
			}

			.bottle-opener-extremity {
				transition: transform 400ms cubic-bezier(0.6, 0, 0.4, 1);

				&.avatar {
					position: relative;
					width: 100px;
					height: 100px;
					border-radius: 50%;
					margin-top: -70px;
					background: $main-background;
					border: 5px solid $card-background;
					box-shadow: $card-shadow;

					img {
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}

					.status-icon {
						position: absolute;
						bottom: 0;
						right: 0;
						box-shadow: 0 0 0 3px $card-background;
					}
				}
			}
		}
	}

	.kv-table-wrapper {
		margin-top: 10px;
		overflow: auto;
	}

	.kv-table {
		td:first-child {
			padding-right: 5px;
			font-weight: bold;
		}

		&.stretched {
			width: 100%;

			td:last-child {
				text-align: right;
			}
		}
	}

	.subscript-label {
		position: relative;
		white-space: pre;
		text-align: center;
		line-height: 1.1;

		+ .subscript-label {
			margin-left: 15px;
		}

		&:after {
			content: "\a" attr(data-label);
			font-size: 80%;
			text-transform: uppercase;
			opacity: 0.7;
		}
	}

	.pop-link {
		cursor: default;
	}

	a.pop-link {
		font-weight: bold;
		cursor: pointer;

		&:hover .pop-icon {
			transform: scale(1.1);
		}
	}

	.pop-icon {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 0 0 2px $card-background;
		background-size: cover;
		background-position: center;
		transition: transform 200ms;

		img,
		svg {
			width: 100%;
			height: 100%;
		}

		&.square {
			border-radius: 20%;
		}
	}

	.status-icon {
		position: relative;
		width: 16px;
		height: 16px;
		border-radius: 50%;

		+ .status-icon {
			margin-left: -7px;
		}

		&.big {
			width: 22px;
			height: 22px;
			margin-left: -10px;
		}

		.adm-icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: $flat-dark-front;
		}
	}

	.flat-outline {
		box-shadow: 0 0 0 $flat-outline-width $card-background;
	}

	.flat-back {
		&.flat-back-blue {
			background: $flat-blue-light;
	
			.flat-outline {
				box-shadow: 0 0 0 $flat-outline-width $flat-blue-light;
			}
		}

		&.flat-back-green {
			background: $flat-green-light;
	
			.flat-outline {
				box-shadow: 0 0 0 $flat-outline-width $flat-green-light;
			}
		}
	
		&.flat-back-orange {
			background: $flat-orange-light;
	
			.flat-outline {
				box-shadow: 0 0 0 $flat-outline-width $flat-orange-light;
			}
		}
	
		&.flat-back-red {
			background: $flat-red-light;
	
			.flat-outline {
				box-shadow: 0 0 0 $flat-outline-width $flat-red-light;
			}
		}
	}
	
	.flat-front {
		&.flat-front-blue {
			background: $flat-blue-dark;
		}
	
		&.flat-front-green {
			background: $flat-green-dark;
		}
	
		&.flat-front-orange {
			background: $flat-orange-dark;
		}
	
		&.flat-front-red {
			background: $flat-red-dark;
		}
	}

	.placeholder-cover {
		background-size: 60px 60px;
		background-position: center;

		&.cover-0 {
			@include b-stars($highlight, $highlight-dark);
		}

		&.cover-1 {
			@include b-dots($highlight, $highlight-dark);
		}

		&.cover-2 {
			@include b-stripes($highlight, $highlight-dark);
		}

		&.cover-3 {
			@include b-grid($highlight, $highlight-dark);
		}

		&.cover-4 {
			@include b-squares($highlight, $highlight-dark);
		}
	}

	.timed-button {
		&:not(:disabled).positive {
			color: $flat-green-dark;
		}

		&:not(:disabled).negative {
			color: $flat-red-dark;
		}

		&.no-padding .timed-button-content {
			padding: 0;
		}

		&.with-icon {
			.timed-button-content {
				padding: 4px;
			}

			.adm-icon {
				width: 16px;
			}
		}
	}

	.stat-wrapper {
		display: flex;
	
		.stat-legend {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-grow: 1;
		}

		.stat-legend + .stat-graphic {
			padding-left: 15px;
			margin-left: 15px;
			border-left: 1px solid $subdued;
		}

		.pie .v-viz {
			width: 150px;
			height: 150px;
		}

		.viz-graph-module {
			margin: 0;
		}
	}

	.pill {
		flex-shrink: 0;
		padding: 3px 7px;
		margin: 0 5px 5px 0;
		background: rgba(109, 124, 138, 0.42);
		border-radius: 2px;
		font-weight: bold;

		&:last-child {
			margin-right: 0;
		}
	}

	.pill-wrapper {
		display: flex;

		&:not(.horizontal) {
			flex-wrap: wrap;
		}

		&.horizontal {
			.pill {
				margin-bottom: 0;
			}
		}

		.pill-scroll {
			display: flex;
			overflow: auto;
		}
	}

	.viz-tooltip {
		background: $main-background;
	}

	.pie {
		svg {
			stroke: $card-background;
			stroke-width: 4;
		}
	}

	.viz-graph-wrapper + .viz-graph-wrapper:before,
	.viz-graph-info-control {
		background: $subdued;
		color: $main-color;
	}

	.input-wrapper .validation-msg {
		color: $main-background;
	}
}
