$drop-params: (
	// Specific
	"transition-in",
	"transition-out"
);

@mixin drop(
	// Specific
	$transition-in: 400ms cubic-bezier(0, 0.55, 0.55, 1),
	$transition-out: 400ms cubic-bezier(0, 0.55, 0.55, 1)
) {
	.drop-wrapper {
		.mobi-focus,
		.focus-probe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			border: none;
			outline: none;
			opacity: 0;
			resize: none;
			cursor: pointer;
			z-index: 10;
		}

		.mobi-focus {
			display: none;
		}

		&:not(.open) {
			.drop-dropdown {
				visibility: hidden;
				position: fixed;
				top: 0;
				left: 0;
				pointer-events: none;
				z-index: -100000;
			}

			&:not(.mobi) {
				.drop-dropdown * {
					visibility: hidden;
				}
			}
		}

		&.open {
			.drop-expando-box {
				position: relative;
				z-index: 10000001;

				&:before {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 10px;
					margin: -1px 0;
					background: inherit;
					pointer-events: none;
				}
			}
		}

		&.place-bottom .drop-expando-box,
		&.place-top .drop-dropdown {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&.place-bottom .drop-expando-box {
			&:before {
				top: 100%;
			}
		}

		&.place-top .drop-expando-box,
		&.place-bottom .drop-dropdown {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		&.place-top .drop-expando-box {
			&:before {
				bottom: 100%;
			}
		}

		.drop-expando-box {
			cursor: pointer;
			user-select: none;
			background: inherit;
			border-radius: inherit;
			height: 100%;
		}

		.drop-dropdown {
			overflow-x: hidden;
			overflow-y: auto;
			z-index: 100000;

			.drop-dropdown-scroll {
				display: flex;
				flex-grow: 1;
				height: 100%;
			}
		}

		&.borderless {
			border: none;

			.drop-dropdown {
				margin: 3px 0;
			}

			.drop-expando-box,
			.drop-dropdown {
				border: none;
			}
		}
	}

	.drop-wrapper.mobi {
		.collapse-target {
			opacity: 0;
			transition: opacity $transition-out;
			z-index: 9999999;
		}

		.drop-dropdown {
			position: fixed;
			visibility: visible;
			left: 0;
			top: auto;
			bottom: 0;
			width: 100%;
			min-height: 25%;
			max-height: 75%;
			margin: 0;
			border-left: none;
			border-right: none;
			border-bottom: none;
			transform: translateY(100%);
			transition: transform $transition-out;
			z-index: 10000000;
		}

		&.open {
			.collapse-target {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: inherit;
				opacity: 0.8;
			}

			* {
				-webkit-tap-highlight-color: transparent;
			}

			.drop-dropdown {
				transition: transform $transition-in;
				transform: none;
			}
		}

		.mobi-focus {
			display: block;
		}

		.focus-probe {
			display: none;
		}

		.drop-expando-box {
			z-index: 1000;

			&:before {
				display: none;
			}
		}
	}
}
