$options-params: (
	// Basic
	"height",
	"background",
	// Specific
	"padding",
	"mobile-height",
	"mobile-padding",
	"expando-background",
	"separator-border",
	"hover-background"
);

@mixin options(
	// Basic
	$height: 30px,
	$background: white,
	// Specific
	$padding: 10px,
	$mobile-height: 35px,
	$mobile-padding: 15px,
	$expando-background: whitesmoke,
	$separator-border: 1px solid rgba(128, 128, 128, 0.25),
	$hover-background: rgba(128, 128, 128, 0.06)
) {
	.options-wrapper {
		position: relative;
		overflow: hidden;

		.options-scroller {
			overflow: auto;
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.options-wrapper .options-scroller {
			overflow: hidden;
		}

		.option {
			position: relative;
			display: flex;
			align-items: center;
			line-height: $height;
			height: $height;
			padding: 0 $padding;
			white-space: nowrap;
			outline: none;

			&.with-icon {
				padding: 0 ($height + $padding) 0 $padding;
			}

			&.selected {
				background: $hover-background;

				.option-inner {
					opacity: 0.5;
				}
			}

			&.pointer {
				background: $hover-background;

				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -($padding / 2);
					border: ($padding / 2) solid transparent;
					border-left-color: currentColor;
					border-right-width: 0;
				}
			}

			&.expando {
				border: none;
				outline: none;
				background: $expando-background;
				width: 100%;
				text-align: left;
				color: inherit;
				font: inherit;
				cursor: pointer;

				&.expanded + .options-wrapper {
					border-top: $separator-border;
				}

				.expando-icon {
					position: absolute;
					top: 0;
					right: 0;
					width: $height;
					height: 100%;
				}
			}

			+ .option {
				border-top: $separator-border;
			}

			.option-inner {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.placeholder {
				opacity: 0.6;
				font-style: italic;
			}
		}

		.nested-option {
			+ .nested-option {
				border-top: $separator-border;
			}
		}

		.error,
		.empty {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			min-height: $height * 2;
			font-size: 95%;
		}

		.loading-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($background, 0.8);
			z-index: 10000;
		}
	}

	.intermediate-padding {
		height: 80px;
	}

	.mobi .options-wrapper.inner {
		.option {
			height: $mobile-height;
			padding: 0 $mobile-padding;
			font-size: 110%;

			&.with-icon {
				padding: 0 ($mobile-height + $mobile-padding) 0 $mobile-padding;
			}

			&.expando {
				.expando-icon {
					width: $mobile-height
				}
			}
		}
	}
}
