$ellipsis-params: (
	"weak-color",
	"error-color",
	"width",
	"padding",
	"border-width",
	"border-color",
	"background",
	"hover-background"
);

@mixin ellipsis(
	$weak-color: #555,
	$error-color: #bb2424,
	$width: 16px,
	$padding: 8px,
	$border-width: 1px,
	$border-color: whitesmoke,
	$background: white,
	$hover-background: whitesmoke
) {
	.ellipsis {
		width: $width;
		height: $width;

		.drop-launcher {
			width: $width;
			height: $width;
			padding: $padding;
			margin: -$padding;

			.adm-icon {
				opacity: 0.5;
			}

			&:hover .adm-icon {
				opacity: 1;
			}
		}

		&.open {
			.drop-launcher .adm-icon {
				opacity: 1;
			}
		}

		.drop-menu {
			margin-top: $border-width * -2;
			background: $background;
			border: 1px solid $border-color;

			.drop-menu-nub {
				right: -$border-width;
				width: $width;
				height: $width;
				padding: $padding;
				margin: (-$border-width) 0;
				background: $background;
				border-color: $border-color;
			}

			.drop-menu-content {
				padding: $padding;

				.error-content {
					color: $error-color;
				}

				.no-content {
					color: $weak-color;
				}
			}

			.ellipsis-menu-item {
				padding: 6px 10px;
			}
		}

		&:not(.no-highlight) .drop-menu-item:not(.disabled):hover {
			background: $hover-background;
		}

		&.place-top {
			.drop-menu {
				margin-bottom: $border-width * -2;

				.drop-menu-nub {
					border-bottom-width: $border-width;
					margin-top: -$border-width;
				}
			}
		}
	}
}
