$ellipsis-params: (
	"width",
	"padding",
	"border-width",
	"border-color",
	"background",
	"hover-background"
);

@mixin ellipsis(
	$width: 16px,
	$padding: 8px,
	$border-width: 1px,
	$border-color: whitesmoke,
	$background: white,
	$hover-background: whitesmoke
) {
	.ellipsis {
		position: relative;
		width: $width;
		height: $width;
		z-index: 10000;

		.ellipsis-launcher {
			position: relative;
			width: $width;
			height: $width;
			padding: $padding;
			margin: -$padding;
			box-sizing: content-box;
			cursor: pointer;

			.adm-icon {
				opacity: 0.5;
			}

			&:hover .adm-icon {
				opacity: 1;
			}
		}

		&.open {
			z-index: 10000000;

			.ellipsis-launcher .adm-icon {
				opacity: 1;
			}
		}

		.ellipsis-menu {
			visibility: hidden;
			position: fixed;
			padding: $padding;
			margin-top: $border-width * -2;
			background: $background;
			border: 1px solid $border-color;
			border-radius: 2px 0 2px 2px;
			min-width: 100px;
			overflow: visible;

			.ellipsis-menu-nub {
				position: absolute;
				top: -($width + 2 * $padding);
				right: -$border-width;
				width: $width;
				height: $width;
				box-sizing: content-box;
				padding: $padding;
				background: $background;
				border: 1px solid $border-color;
				border-bottom-width: 0;
			}

			.ellipsis-menu-item {
				padding: 6px 10px;
				white-space: nowrap;
				cursor: pointer;

				&.disabled {
					opacity: 0.5;
					cursor: default;
				}

				&:not(.disabled):hover {
					background: $hover-background;
				}
			}
		}

		&:not(.open) .ellipsis-menu {
			position: fixed;
			top: 0;
			left: 0;
		}

		&.open .ellipsis-menu {
			visibility: visible;
		}

		&.place-top {
			.ellipsis-menu {
				margin-top: 0;
				margin-bottom: $border-width * -2;

				.ellipsis-menu-nub {
					border-top-width: 0;
					border-bottom-width: $border-width;
					top: auto;
					bottom: -($width + 2 * $padding);
				}
			}
		}
	}
}
