@use "~@qtxr/scss-utils" as *;

$listing-box-params: (
	"background",
	"shadow",
	"border-radius",
	"outer-margin",
	"padding",
	"accent-background",
	"page-selector-border",
	"page-selector-side",
	"highlight",
	"highlight-complement",
	"highlight-light"
);

@mixin listing-box(
	$background: white,
	$shadow: 0 2px 4px rgba(0, 0, 0, 0.07),
	$border-radius: 2px,
	$outer-margin: 20px,
	$padding: 10px,
	$accent-background: whitesmoke,
	$page-selector-border: 1px solid #dadada,
	$page-selector-side: 30px,
	$highlight: #1b66bf,
	$highlight-complement: white,
	$highlight-light: #6cafff
) {
	.listing-box {
		&:not(.minimal) {
			background: $background;
			box-shadow: $shadow;
			border-radius: $border-radius;
			margin: $outer-margin;
			padding: $padding;
		}
		
		.util-box-title-box .listing-count {
			padding: 3px 8px;
			background: $accent-background;
			border-radius: $border-radius;
			font-size: 85%;
			margin-left: 0.5em;
			font-weight: bold;

			.listing-count-num {
				font-weight: bold;
				opacity: 0.9;
			}
		}
	}

	.page-selector-btn {
		position: relative;
		width: $page-selector-side;
		height: $page-selector-side;
		border: $page-selector-border;
		background: transparent;
		outline: none;
		cursor: pointer;

		&.selected {
			background: $highlight;
			color: $highlight-complement;
			font-weight: bold;
			border: none;
			z-index: 10;
		}

		&:disabled {
			pointer-events: none;
			opacity: 0.7;
		}

		&:not(.decrement) + .page-selector-btn {
			border-left: none;
		}

		&:not(.decrement) + .page-selector-btn.selected:before {
			content: "";
			position: absolute;
			top: 0;
			left: -1px;
			right: 0;
			bottom: 0;
			background: inherit;
			z-index: -1;
		}

		&.increment,
		&.decrement,
		&.to-start,
		&.to-end {
			font-size: 0;
			border: none;

			&:hover {
				background: $accent-background;
			}
		}

		&.increment:before,
		&.decrement:before,
		&.to-start:before,
		&.to-end:before,
		&.to-start:after,
		&.to-end:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -4px -6px;
			border: 1px solid;
			border-left-color: transparent;
			border-top-color: transparent;
			width: 8px;
			height: 8px;
			border-radius: 0 1px 2px 1px;
			transform: rotate(-45deg);
		}

		&.decrement:before {
			transform: rotate(135deg);
			margin-left: -3px;
		}

		&.to-start:before {
			transform: rotate(135deg);
		}

		&.to-start:after {
			transform: rotate(135deg);
			margin-left: 1px;
		}

		&.to-end:before {
			margin-left: -10px;
		}

		&.to-end:after {
			margin-left: -3px;
		}
	}
}
