@mixin listing(
	$weak-color: #555,
	$error-color: #bb2424,
	$accent-background: whitesmoke,
	$row-border: 1px solid #eee,
	$odd-row-background: white,
	$even-row-background: whitesmoke
) {
	.listing-content {
		position: relative;
		min-height: 100px;
		max-height: 500px;
		overflow: auto;

		&.loading {
			min-height: 200px;
		}

		&.no-results,
		&.error {
			text-align: center;
			padding: 10px 0;
			font-size: 90%;
			color: $weak-color;
		}

		&.error {
			text-align: center;
			padding: 10px 0;
			color: $error-color;
		}

		&.table {
			border: 1px solid $accent-background;

			table {
				border-collapse: collapse;
				width: 100%;

				tr:nth-child(even) {
					background: $accent-background;
				}

				th,
				td {
					padding: 6px 8px;
					text-align: left;
				}
			}
		}

		&.list {
			.list-row {
				background: $odd-row-background;

				+ .list-row {
					border-top: $row-border;
				}

				&:nth-child(even) {
					background: $even-row-background;
				}
			}
		}
	}
}
