@use "~@qtxr/scss-utils" as *;

$util-box-params: (
	"card-background",
	"card-shadow",
	"border-radius",
	"outer-margin",
	"padding",
	"separator"
);

@mixin util-box(
	$card-background: white,
	$card-shadow: 0 2px 4px rgba(0, 0, 0, 0.07),
	$border-radius: 2px,
	$outer-margin: 20px,
	$padding: 10px,
	$separator: 1px solid $whitesmoke
) {
	.util-box {
		background: $card-background;
		box-shadow: $card-shadow;
		border-radius: $border-radius;
		margin: $outer-margin;
		padding: $padding;

		.util-box-header,
		.util-box-sub-header {
			margin-bottom: $padding;
			padding-bottom: $padding;
			border-bottom: $separator;
		}

		.util-box-title {
			font-weight: bold;
			letter-spacing: 0.02em;
		}

		.util-box-content {
			position: relative;
			min-height: 50px;
		}

		.util-box-footer {
			margin-top: $padding;
			padding-top: $padding;
			border-top: $separator;
		}
	}
}
