@use "./input.scss" as *;
@use "./checkbox.scss" as *;
@use "./count.scss" as *;
@use "./dropdown.scss" as *;
@use "./radio.scss" as *;

@function trim-args($args, $param-list) {
	$out: ();

	@each $param in $param-list {
		@if (map-has-key($args, $param)) {
			$out: map-merge($out, ($param, map-get($args, $param)));
		}
	}

	@return $out;
}

@function trim-args-merge($theme, $key, $param-list) {
	$input-theme: map-get($theme, "input");
	$target-theme: map-get($theme, $key);
	@return trim-args(map-merge($input-theme, $target-theme), $param-list);
}

@mixin all($theme) {
	$input-theme: map-get($theme, "input");
	@include input(trim-args($input-theme, $input-params)...);
	@include checkbox(trim-args-merge($theme, "checkbox", $checkbox-params)...);
	@include count(trim-args-merge($theme, "count", $count-params)...);
	@include dropdown(trim-args-merge($theme, "dropdown", $dropdown-params)...);
	@include radio(trim-args-merge($theme, "radio", $radio-params)...);
}
