@use "~@qtxr/scss-utils" as *;

$coordinates-params: (
	// Basic
	"border-radius",
	"background",
	"focus-background",
	"border",
	"focus-border-color",
	// Specific
	"search-height",
	"button-padding",
	"coords-padding",
	"aspect-ratio",
	"max-height"
);

@mixin coordinates(
	// Basic
	$border-radius: 1px,
	$background: white,
	$focus-background: #f3f3f3,
	$border: 1px solid #dadada,
	$focus-border-color: #1e2021,
	// Specific
	$search-height: 40px,
	$button-padding: 4px,
	$coords-padding: 8px,
	$aspect-ratio: 0.75,
	$max-height: 400px
) {
	.inp-coordinates {
		&.input-wrapper.disabled {
			opacity: 1;
		}

		.map-wrapper {
			position: relative;
			-webkit-tap-highlight-color: transparent;
			border: $border;
			border-radius: $border-radius;
			overflow: hidden;

			.loading-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($background, 0.8);
				z-index: 10000;
			}
		}

		&.search-enabled .map-wrapper,
		&.coords-enabled .map-wrapper {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.pad-box-wrapper {
			max-height: $max-height;
			overflow: hidden;

			.pad-box {
				padding-top: percentage($aspect-ratio);
			}
		}

		.map {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		}

		.coords-box {
			display: flex;
			position: relative;
			border: $border;
			border-top: none;
			box-sizing: content-box;

			&:last-child {
				border-radius: 0 0 $border-radius $border-radius;
			}

			input {
				flex-grow: 1;
				border: none;
				outline: none;
				font-family: inherit;
				color: inherit;
				background: transparent;
				font-size: 100%;
				padding: $coords-padding;
				box-sizing: content-box;
			}
		}

		.search-box {
			display: flex;
			position: relative;
			height: $search-height;
			border: $border;
			border-top: none;
			border-radius: 0 0 $border-radius $border-radius;
			box-sizing: content-box;

			input {
				flex-grow: 1;
				border: none;
				outline: none;
				font-family: inherit;
				color: inherit;
				background: transparent;
				font-size: 100%;
				margin: 0 $button-padding;
			}

			.run-btn-wrapper {
				flex-shrink: 0;
				margin: $button-padding;

				&.run-geolocation {
					padding-right: $button-padding;
					border-right: $border;
				}

				&.run-search {
					padding-left: $button-padding;
					border-left: $border;
				}
			}

			.run-btn {
				width: $search-height - 2 * $button-padding;
				height: $search-height - 2 * $button-padding;
				border: none;
				outline: none;
				padding: $button-padding * 2;
				border-radius: $border-radius;
				background: transparent;
				color: inherit;
				cursor: pointer;

				* {
					cursor: inherit;
				}

				&:focus,
				&.active {
					background: $focus-background;
				}

				.run-icon {
					width: 100%;
					height: 100%;
					fill: none;
					stroke: currentColor;
				}

				&:disabled {
					cursor: default;
					color: inherit;

					.run-icon {
						opacity: 0.6;
					}
				}
			}
		}

		.validation-msg {
			border-radius: $border-radius;
			background: $focus-border-color;
			color: $background;

			&:before {
				box-shadow: 0px -20px $focus-border-color;
			}
		}

		&.error {
			.validation-msg {
				display: block;
			}
		}
	}
}
