$count-params: (
	"border-radius",
	"border",
	"focus-background",
	"height"
);

@mixin count(
	$border-radius: 1px,
	$border: 1px solid #dadada,
	$focus-background: #eee,
	$height: 30px
) {
	.inp-count {
		display: flex;
		height: $height;
		width: 120px;
		border: $border;
		border-radius: $border-radius;
		font-size: 95%;
	
		.count-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: $height;
			height: 100%;
			user-select: none;
			border: none;
			outline: none;
			background: transparent;
			cursor: pointer;
			font: inherit;
			font-size: 120%;
			color: inherit;
	
			&:active {
				background: $focus-background;
				color: inherit;
			}
	
			&.down {
				border-right: inherit;
			}
	
			&.up {
				border-left: inherit;
			}
		}
	
		input {
			flex-grow: 1;
			border: none;
			padding: 0 5px;
			width: 10px;
			text-align: center;
			background: transparent;
			margin: 0;
			cursor: text;
			font: inherit;
			font-size: 100%;
			color: inherit;
			outline: none;
	
			&:focus {
				background: $focus-background;
			}
		}
	}
}
