$count-params: (
	"border",
	"focus-background"
);

@mixin count(
	$border: 1px solid #dadada,
	$focus-background: #eee
) {
	.inp-count {
		display: flex;
		height: 30px;
		width: 100px;
		border: $border;
		border-radius: 3px;
	
		.count-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 30px;
			height: 100%;
			user-select: none;
			border: none;
			outline: none;
			background: transparent;
			cursor: pointer;
	
			&:active {
				background: $focus-background;
				color: inherit;
			}
	
			&.down {
				border-right: inherit;
			}
	
			&.up {
				border-left: inherit;
			}
		}
	
		input {
			width: 30px;
			border: none;
			padding: 0 5px;
			text-align: center;
			background: transparent;
			font-size: 85%;
			outline: none;
			margin: 0;
			cursor: text;
	
			&:focus {
				background: $focus-background;
			}
		}
	}
}
