$date-time-params: (
	"height",
	"border-radius",
	"background",
	"error-background",
	"border",
	"separator-border",
	"error-border",
	"error-color"
);

@mixin date-time(
	$height: 30px,
	$border-radius: 1px,
	$background: white,
	$error-background: #ffe7ec,
	$border: 1px solid #dadada,
	$separator-border: 1px solid whitesmoke,
	$error-border: 1px solid #e8879b,
	$error-color: #ab0f2f
) {
	.inp-date-time {
		.drop-expando-box {
			height: $height;
			background: $background;
			border: $border;
			border-radius: $border-radius;

			.date-time-display {
				display: flex;
				white-space: nowrap;
			}

			.date-sep {
				display: inline-block;
				width: 0.25em;
			}
			
			.date-time-sep {
				display: inline-block;
				width: 0.5em;
			}

			.time-sep {
				margin: 0 0.2em;
				opacity: 0.6;
			}

			.time-display-item {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.meridiem {
				font-size: 70%;
				margin: 0 0 0.4em 0.25em;
				opacity: 0.8;
			}
		}

		.drop-dropdown {
			display: flex;
			background: $background;
			border: $border;
			border-radius: $border-radius;

			.time-sel {
				margin-left: 10px;
				padding-left: 10px;
				border-left: $separator-border;
			}

			.dials-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		&.error {
			&:not(.open) .drop-expando-box {
				background: $error-background;
				border: $error-border;
				color: $error-color;
			}
		}

		&.mobi {
			.drop-dropdown {
				padding-bottom: 0;
			}

			.drop-dropdown-scroll {
				flex-direction: column;
				align-items: center;
				padding-bottom: 10px;

				.time-sel {
					margin: 10px 0 0;
					padding: 10px 0 0;
					border-left: none;
					border-top: 1px solid $separator-border;
				}
			}
		}
	}
}
