$date-params: (
	// Basic
	"height",
	"border-radius",
	"error-color",
	"background",
	"error-background",
	"border",
	"error-border",
	"highlight",
	"highlight-complement"
);

@mixin date(
	// Basic
	$height: 30px,
	$border-radius: 1px,
	$error-color: #ab0f2f,
	$background: white,
	$error-background: #ffe7ec,
	$border: 1px solid #dadada,
	$error-border: 1px solid #e8879b,
	$highlight: #1b66bf,
	$highlight-complement: white
) {
	.inp-date {
		.drop-expando-box {
			display: flex;
			justify-content: center;
			align-items: center;
			height: $height;
			background: $background;
			border: $border;
			border-radius: $border-radius;
			padding: 5px 12px;

			.date-display-item {
				white-space: nowrap;
			}

			.date-sep {
				display: inline-block;
				width: 0.25em;
			}

			.date-display-cell.active {
				position: relative;
				color: $highlight-complement;
				z-index: 1000;

				&:before {
					content: "";
					position: absolute;
					top: -0.1em;
					bottom: -0.1em;
					left: -0.5em;
					right: -0.5em;
					background: $highlight;
					border-radius: 2px;
					z-index: -1;
				}
			}
		}

		.drop-dropdown {
			background: $background;
			border: $border;
			border-radius: $border-radius;
			padding: 10px;
		}

		&.error {
			&:not(.open) .drop-expando-box {
				background: $error-background;
				border: $error-border;
				color: $error-color;
			}
		}

		&.mobi {
			.drop-dropdown {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}
}
