@use "~@qtxr/scss-utils" as *;

$dropdown-params: (
	// Basic
	"height",
	"border-radius",
	"error-color",
	"background",
	"error-background",
	"border",
	"error-border",
	// Specific
	"mobile-gap",
	"separator-border"
);

@mixin dropdown(
	// Basic
	$height: 30px,
	$border-radius: 1px,
	$error-color: #ab0f2f,
	$background: white,
	$error-background: #ffe7ec,
	$border: 1px solid #dadada,
	$error-border: 1px solid #e8879b,
	// Specific
	$mobile-gap: 30px,
	$separator-border: 1px solid rgba(128, 128, 128, 0.25)
) {
	.inp-dropdown {
		position: relative;
		width: 100%;
		height: $height;
		max-width: 100%;
		border: $border;
		border-radius: $border-radius;
		background: $background;
		user-select: none;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;

		&.place-bottom,
		&.place-top .dropdown-list {
			border-radius: $border-radius $border-radius 0 0;
		}

		&.place-top .search-input-box {
			border-top: $separator-border;
		}

		&.place-top,
		&.place-bottom .dropdown-list {
			border-radius: 0 0 $border-radius $border-radius;
		}

		&.place-bottom .search-input-box {
			border-bottom: $separator-border;
		}

		&.place-top .drop-dropdown {
			flex-direction: column-reverse;
		}

		&.error {
			&:not(.open) {
				background: $error-background;
				color: $error-color;
				border: $error-border;

				.placeholder {
					opacity: 1;
				}
			}
		}

		.active-option {
			> .dropdown-icon {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
			}
		}

		.drop-dropdown {
			position: relative;
			display: flex;
			flex-direction: column;
			box-sizing: content-box;
			border: inherit;
			background: inherit;
			border-radius: $border-radius;
			z-index: 10000002;

			.options-wrapper {
				position: relative;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}
		}

		// Mobile styling
		&.mobi {
			&.open {
				.dropdown-list {
					position: fixed;
					top: 50%;
					left: $mobile-gap;
					right: $mobile-gap;
					width: auto;
					max-height: 90%;
					max-height: calc(100% - #{$mobile-gap * 2});
					transform: translateY(-50%);
					z-index: 10000001;
				}
			}
		}
	}
}
