$formatted-params: (
	// Basic
	"border-radius",
	"error-color",
	"background",
	"error-background",
	"border",
	"focus-border",
	"error-border",
	"focus-border-color"
);

@mixin formatted(
	// Basic
	$border-radius: 1px,
	$error-color: #ab0f2f,
	$background: white,
	$error-background: #ffe7ec,
	$border: 1px solid #dadada,
	$focus-border: 1px solid #1e2021,
	$error-border: 1px solid #e8879b,
	$focus-border-color: #1e2021
) {
	.inp-formatted {
		.formatted-content-editable {
			width: 100%;
			padding: 6px 8px;
			background: $background;
			border: $border;
			border-radius: $border-radius;
			outline: none;
			width: 100%;
			min-height: 100px;
			max-height: 250px;
			color: inherit;
			overflow-x: hidden;
			overflow-y: auto;
			word-break: break-word;
			white-space: pre-wrap;

			&:focus {
				border: $focus-border;
			}
		}

		.validation-msg {
			display: none;
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			font-size: 90%;
			padding: 5px 8px;
			background: $focus-border-color;
			color: $background;
		}

		&.error {
			.formatted-content-editable  {
				&:not(:focus) {
					background: $error-background;
					border: $error-border;
					color: $error-color;
				}

				&:focus + .validation-msg {
					display: block;
				}
			}
		}
	}
}
