@use "~@qtxr/scss-utils" as *;

// Core styling
@use "../core/date-selector.scss" as *;
@use "../core/drop.scss" as *;
@use "../core/options.scss" as *;
@use "../core/search-input-box.scss" as *;
@use "../core/time-selector.scss" as *;
@use "../core/validation-msg.scss" as *;

// Input styling
@use "./base.scss" as *;
@use "./checkbox.scss" as *;
@use "./coordinates.scss" as *;
@use "./count.scss" as *;
@use "./date.scss" as *;
@use "./date-time.scss" as *;
@use "./dropdown.scss" as *;
@use "./formatted.scss" as *;
@use "./list.scss" as *;
@use "./media.scss" as *;
@use "./multi.scss" as *;
@use "./radio.scss" as *;
@use "./text.scss" as *;
@use "./textarea.scss" as *;
@use "./time.scss" as *;

@mixin inputs($theme: ()) {
	// Core styling
	$core-theme: map-get($theme, "core");
	$core-theme: map-merge($core-theme, (
		base: map-merge(map-get($theme, "base") or (), map-get($core-theme, "base") or ())
	));
	@include date-selector(compose-args($core-theme, $date-selector-params, "base", "date-selector")...);
	@include drop(compose-args($core-theme, $drop-params, "base", "drop")...);
	@include options(compose-args($core-theme, $options-params, "base", "options")...);
	@include search-input-box(compose-args($core-theme, $search-input-box-params, "base", "search-input-box")...);
	@include time-selector(compose-args($core-theme, $time-selector-params, "base", "time-selector")...);
	@include validation-msg(compose-args($core-theme, $validation-msg-params, "base", "validation-msg")...);

	// Input style
	@include base(compose-args($theme, $base-params, "base")...);
	@include coordinates(compose-args($theme, $coordinates-params, "base", "coordinates")...);
	@include checkbox(compose-args($theme, $checkbox-params, "base", "checkbox")...);
	@include count(compose-args($theme, $count-params, "base", "count")...);
	@include date(compose-args($theme, $date-params, "base", "date")...);
	@include date-time(compose-args($theme, $date-time-params, "base", "date-time")...);
	@include dropdown(compose-args($theme, $dropdown-params, "base", "dropdown")...);
	@include formatted(compose-args($theme, $formatted-params, "base", "formatted")...);
	@include list-style(compose-args($theme, $list-params, "base", "list")...);
	@include media(compose-args($theme, $media-params, "base", "media")...);
	@include multi(compose-args($theme, $multi-params, "base", "multi")...);
	@include radio(compose-args($theme, $radio-params, "base", "radio")...);
	@include text(compose-args($theme, $text-params, "base", "text")...);
	@include textarea(compose-args($theme, $textarea-params, "base", "textarea")...);
	@include time(compose-args($theme, $time-params, "base", "time")...);
}
