@use "~@qtxr/scss-utils" as *;

$multi-params: (
	"background",
	"error-background",
	"border",
	"focus-border",
	"error-border",
	"error-color",
	"highlight",
	"selection-item-color",
	"selection-item-height",
	"selection-item-spacing",
	"selection-item-border-radius",
	"search-box-background",
	"separator-border",
	"max-height",
	"search-box-padding",
	"search-input-height"
);

@mixin multi(
	$background: white,
	$error-background: #ffe1e1,
	$border: 1px solid #dadada,
	$focus-border: 1px solid #1e2021,
	$error-border: 1px solid #e02929,
	$error-color: #9a3131,
	$highlight: #1b66bf,
	$selection-item-color: white,
	$selection-item-height: 24px,
	$selection-item-spacing: 5px,
	$selection-item-border-radius: 2px,
	$search-box-background: whitesmoke,
	$separator-border: 1px solid rgba(128, 128, 128, 0.15),
	$max-height: 150px,
	$search-box-padding: 10px,
	$search-input-height: 30px,
	$add-icon-background: #e6eaef,
	$add-icon-color: #8291a5
) {
	.inp-multi {
		font-size: 95%;

		.selection-box {
			flex-wrap: wrap;
			min-height: $selection-item-height + 2 * $selection-item-spacing;
			padding: $selection-item-spacing 0 0 $selection-item-spacing;
			background: $background;
			border: $border;
			max-height: $max-height;
			overflow: auto;

			&:empty:before {
				content: "+";
				position: relative;
				display: flex;
				flex-shrink: 0;
				flex-grow: 0;
				justify-content: center;
				align-items: center;
				width: $selection-item-height;
				height: $selection-item-height;
				background: $add-icon-background;
				color: $add-icon-color;
				border-radius: $selection-item-border-radius;
				font-size: $selection-item-height * 0.8;
				font-weight: 100;
				margin-bottom: $selection-item-spacing;
				cursor: pointer;
			}

			.default-selection-item {
				position: relative;
				background: $highlight;
				color: $selection-item-color;
				height: $selection-item-height;
				border-radius: $selection-item-border-radius;
				margin: 0 $selection-item-spacing $selection-item-spacing 0;
				padding: 8px (5px + $selection-item-height) 8px 10px;
				user-select: none;

				.delete-section-item {
					position: absolute;
					top: 0;
					right: 0;
					width: $selection-item-height;
					height: 100%;
					font-size: $selection-item-height * 0.8;
					cursor: pointer;
				}
			}
		}

		.search-box {
			flex-direction: column;
			border: $border;
			overflow: hidden;
			background: $background;
			z-index: 10000000;

			.search-input-box {
				background: $search-box-background;
				padding: $search-box-padding;

				input {
					width: 100%;
					height: $search-input-height;
					border: $border;
					text-indent: 0.5em;
					outline: none;
					font-size: 100%;

					&:focus {
						border: $focus-border;
					}
				}
			}

			.search-results-box {
				position: relative;
				overflow: auto;
			}

			.default-search-result {
				padding: 8px 10px;
				user-select: none;
				cursor: pointer;

				+ .default-search-result {
					border-top: $separator-border;
				}

				&.selected {
					background: $search-box-background;
				}
			}

			.no-search-results {
				height: 60px;
				font-size: 90%;
			}

			.loading-overlay {
				position: absolute;
				top: 50px;
				bottom: 0;
				left: 0;
				width: 100%;
				background: rgba($background, 0.8);
				z-index: 10000;
			}
		}

		&:not(.open) .search-box {
			visibility: hidden;
			position: fixed;
			top: 0;
			left: 0;
		}

		&.error {
			&:not(.open) {
				.selection-box {
					background: $error-background;
					border: $error-border;
				}
			}
		}

		@include mobile {
			&.open {
				box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.35);
				z-index: 10000000;
			}
		}
	}
}
