@use "~@qtxr/scss-utils" as *;

$multi-params: (
	// Basic
	"border-radius",
	"error-color",
	"background",
	"error-background",
	"border",
	"error-border",
	"highlight",
	// Specific
	"selection-item-color",
	"selection-item-height",
	"selection-item-spacing",
	"selection-item-border-radius",
	"separator-border",
	"max-height",
	"add-icon-background",
	"add-icon-color"
);

@mixin multi(
	// Basic
	$border-radius: 1px,
	$error-color: #ab0f2f,
	$background: white,
	$error-background: #ffe7ec,
	$border: 1px solid #dadada,
	$error-border: 1px solid #e8879b,
	$highlight: #1b66bf,
	// Specific
	$selection-item-color: white,
	$selection-item-height: 24px,
	$selection-item-spacing: 5px,
	$selection-item-border-radius: 2px,
	$separator-border: 1px solid rgba(128, 128, 128, 0.15),
	$max-height: 150px,
	$add-icon-background: #e6eaef,
	$add-icon-color: #8291a5
) {
	.inp-multi {
		display: flex;
		position: relative;
		max-height: $max-height;
		border: $border;
		border-radius: $border-radius;
		background: $background;
		user-select: none;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;

		&.place-bottom,
		&.place-top .dropdown-list {
			border-radius: $border-radius $border-radius 0 0;
		}

		&.place-top .search-input-box {
			border-top: $separator-border;
		}

		&.place-top,
		&.place-bottom .dropdown-list {
			border-radius: 0 0 $border-radius $border-radius;
		}

		&.place-bottom .search-input-box {
			border-bottom: $separator-border;
		}

		&.place-top .drop-dropdown {
			flex-direction: column-reverse;
		}

		&.error {
			&:not(.open) {
				background: $error-background;
				border: $error-border;

				.selection-box {
					&:empty:after {
						background: $error-color;
						color: $error-background;
					}
				}
			}
		}

		.drop-expando-box {
			display: flex;
			flex-grow: 1;
			height: auto;
		}

		.selection-box {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			min-height: $selection-item-height + 2 * $selection-item-spacing;
			padding: $selection-item-spacing 0 0 $selection-item-spacing;
			overflow: auto;

			> * {
				z-index: 100000;
			}

			&:after {
				content: "+";
				position: relative;
				display: flex;
				flex-shrink: 0;
				flex-grow: 0;
				justify-content: center;
				align-items: center;
				width: $selection-item-height;
				height: $selection-item-height;
				background: $add-icon-background;
				color: $add-icon-color;
				border-radius: $selection-item-border-radius;
				font-size: $selection-item-height * 0.8;
				font-weight: 100;
				margin: 0 $selection-item-spacing $selection-item-spacing 0;
				cursor: pointer;
			}

			.default-selection-option {
				position: relative;
				display: flex;
				align-items: center;
				background: $highlight;
				color: $selection-item-color;
				height: $selection-item-height;
				border-radius: $selection-item-border-radius;
				margin: 0 $selection-item-spacing $selection-item-spacing 0;
				padding: 8px (6px + $selection-item-height) 8px 10px;
				user-select: none;
				cursor: default;

				.delete-selection-option {
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					top: 0;
					right: 0;
					width: $selection-item-height;
					height: 100%;
					font-size: $selection-item-height * 0.8;
					font-weight: 100;
					cursor: pointer;

					&:before {
						content: "";
						position: absolute;
						top: 6px;
						bottom: 6px;
						left: 0;
						border-left: 1px dashed;
						opacity: 0.4;
					}
				}
			}
		}

		.drop-dropdown {
			position: relative;
			display: flex;
			flex-direction: column;
			box-sizing: content-box;
			border: inherit;
			background: inherit;
			border-radius: $border-radius;
			z-index: 10000002;

			.options-wrapper {
				position: relative;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}
		}

		.active-option {
			> .dropdown-icon {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
			}
		}

		// Mobile styling
		&.mobi {
			&.open {
				z-index: 10000000;

				.selection-box {
					z-index: 10000000;
				}
			}
		}
	}
}
