@use "~@qtxr/scss-utils" as *;

$text-params: (
	// Basic
	"height",
	"border-radius",
	"error-color",
	"autofill-color",
	"background",
	"error-background",
	"autofill-background",
	"border",
	"focus-border",
	"error-border",
	"autofill-border",
	"focus-border-color"
);

@mixin text(
	// Basic
	$height: 30px,
	$border-radius: 1px,
	$error-color: #ab0f2f,
	$autofill-color: #276a9e,
	$background: white,
	$error-background: #ffe7ec,
	$autofill-background: #edf7ff,
	$border: 1px solid #dadada,
	$focus-border: 1px solid #1e2021,
	$error-border: 1px solid #e8879b,
	$autofill-border: 1px solid #74b4e6,
	$focus-border-color: #1e2021
) {
	.inp-text {
		input {
			-webkit-appearance: none;
			width: 100%;
			height: $height;
			padding: 6px 8px;
			background: $background;
			border: $border;
			border-radius: $border-radius;
			color: inherit;
			font: inherit;
			font-size: 100%;
			outline: none;
	
			&:focus {
				border: $focus-border;
			}
	
			@include autofill($autofill-background, $autofill-color, $autofill-border);
		}
	
		.validation-msg {
			border-radius: $border-radius;
			background: $focus-border-color;
			color: $background;

			&:before {
				box-shadow: 0px -20px $focus-border-color;
			}
		}
	
		&.error {
			input {
				&:not(:focus) {
					background: $error-background;
					border: $error-border;
					color: $error-color;
					@include autofill($error-background, $error-color, $error-border);
				}
	
				&:focus + .validation-msg {
					display: block;
				}
			}
		}
	}
}
