$textarea-params: (
	"border-radius",
	"background",
	"error-background",
	"border",
	"focus-border",
	"error-border",
	"focus-border-color",
	"error-color"
);

@mixin textarea(
	$border-radius: 1px,
	$background: white,
	$error-background: #ffe7ec,
	$border: 1px solid #dadada,
	$focus-border: 1px solid #1e2021,
	$error-border: 1px solid #e8879b,
	$focus-border-color: #1e2021,
	$error-color: #ab0f2f
) {
	.inp-textarea {
		textarea {
			-webkit-appearance: none;
			width: 100%;
			padding: 6px 8px;
			background: transparent;
			border: $border;
			border-radius: $border-radius;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			min-height: 100px;
			color: inherit;
			resize: vertical;
			color: inherit;
			font: inherit;
			font-size: 95%;
			outline: none;
	
			&:focus {
				border: $focus-border;
			}
		}
	
		.validation-msg {
			display: none;
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			font-size: 90%;
			padding: 5px 8px;
			background: $focus-border-color;
			color: $background;
		}
	
		&.error {
			textarea {
				&:not(:focus) {
					background: $error-background;
					border: $error-border;
					color: $error-color;
				}
	
				&:focus + .validation-msg {
					display: block;
				}
			}
		}
	}
}
